/* COLOR PALETTE:
USED:
#fb923c h1
#ffedd5 h2 + nav
#fffbf7 background color
#fed7aa - link hover/active
#332b22 footer link
#665644 footer link hover and active

NOT USED YET
#eeeae3
#343330
#656461;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  font-family: "Playfair Display", serif;
}

/* HERO SECTION */

.hero-section {
  display: relative;
  max-width: 100vw;
  margin-bottom: 128px;
}

.hero-img {
  max-width: 100%;
}

.hero-header-container {
  position: absolute;
  top: 24px;
  left: 32px;
}
.primary-header {
  color: #fb923c;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
  text-shadow: 24px 24px 30px rgba(0, 0, 0, 0.807);
}

.hero-secondary-header {
  color: #ffedd5;
  font-size: 86px;
  font-weight: 500;
  letter-spacing: -1px;
  text-shadow: 20px 24px 34px rgba(0, 0, 0, 0.853);
  font-style: italic;
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.hero-nav-link:link,
.hero-nav-link:visited {
  color: #ffedd5;
  text-shadow: 20px 20px 34px rgba(0, 0, 0, 0.797);
  font-size: 20px;
  font-weight: 600;

  line-height: 2;
  letter-spacing: 3px;
  text-decoration: none;
}

.hero-nav-link:hover,
.hero-nav-link:active {
  color: #fed7aa;
}

/* FOOTER SECTION */
.nav--footer {
  margin: 12px auto;
  display: flex;
  gap: 25px;
}

.nav-link--footer:link .icon--footer,
.nav-link--footer:visited .icon--footer {
  fill: #332b22;
}

.nav-link--footer:hover .icon--footer,
.nav-link--footer:active .icon--footer {
  fill: #665644;
}

/* GALLERY SECTION
.gallery {
  margin-bottom: 128px;
}
.gallery-img {
  max-width: 100%;
  min-height: 90vh;
}
/* AMENITIES SECTION */
/*
.amenities-section {
  margin-bottom: 96px;
}
.amenities-opener {
  color: #343330;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -1px;
  font-style: italic;
  margin-bottom: 48px;
}

.amenities-figure {
  padding: 24px;
  box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.07);
}

.amenities-img {
  width: 400px;
  height: 500px;
  margin-bottom: 48px;
}

.amenities-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.amenities-list {
  list-style: none;
}

.amenities-item {
  margin-bottom: 16px;
  font-size: 18px;
} */
/* REUSABLE STYLES */

.grid--2-cols {
  display: grid;
}
.grid--3-cols-even {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.secondary-header {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

.hero-btn {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  background-color: #665644;
  color: #ffedd5;
  text-shadow: 0 24px 30px #000000e3;
  opacity: 76%;
  border: none;
  font-weight: 600;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 30%;
  right: 100px;
  cursor: pointer;
}

.hero-btn:hover {
  color: #fb923c;
}

/* MAJOR COMPONENTS */
.content-container {
  width: 1300px;
  margin: 0 auto;
}
