* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ebfcca; */
  /* background-color: #ffedd5; */
  /* background-color: #f7f5f1; */
  background-color: #eeeae3;
  font-family: "Playfair Display", serif;
}

/* REUSABLE STYLES */

.grid--3-cols {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}

/* MAJOR COMPONENTS */
.content-container {
  width: 1300px;
  margin: 0 auto;
}

/* SMALLER COMPONENTS */

/* Heading Components */
.hero-title--primary {
  color: #343330;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
  grid-column: 1;
  margin-left: 24px;
}

.hero-title--secondary {
  color: #656461;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  grid-column: 1 / -1;
  margin-top: 4px;
  margin-left: 24px;
}

.hero-title--span {
  color: #343330;
  font-size: 74px;
  font-weight: 400;
  letter-spacing: -1px;
  font-style: italic;
}

/* Navigation */
.nav--main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  grid-row: 1;
  grid-column: 3;
  margin-right: 24px;
}

.main-title-link:link,
.main-title-link:visited {
  /* color: #444; */
  color: #343330;
  font-size: 18px;
  font-weight: 400;

  line-height: 2;
  letter-spacing: 3px;
  text-decoration: none;
}

.main-title-link:hover,
.main-title-link:active {
  color: #656461;
}

.nav--footer {
  margin: 12px auto;
  display: flex;
  gap: 25px;
}

.nav-link--footer:link .icon--footer,
.nav-link--footer:visited .icon--footer {
  fill: #343330;
}

.nav-link--footer:hover .icon--footer,
.nav-link--footer:active .icon--footer {
  fill: #656461;
}

.gallery {
  margin-bottom: 64px;
}
.gallery-img {
  width: 1300px;
}
