* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebfcca;
}

.content-container {
  width: 1500px;
  margin: 50px auto;
}

.main-title-container {
  background-color: #f7fee7;
  margin-bottom: 100px;
  padding: 10px 0 10px 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: space-between;
}
.main-title {
  color: #444;
  font-size: 15px;
  font-weight: 500;
  font-family: monospace;
  line-height: 2;
  letter-spacing: 3px;
  margin-left: 10px;
  align-self: center;
}

.gallery-container {
  width: 1040px;
  background-color: #f7fee7;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  gap: 5px;
  border: 2px solid #ebfcca;
}

.gallery-img {
  width: 250px;
}

.main-title-nav {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-title-slogan {
  font-weight: 500;
  letter-spacing: 0.5;
  line-height: 3;
  font-family: monospace;
  font-size: 50px;
  font-weight: serif;
  align-self: center;
}

.main-title-link:link,
.main-title-link:visited {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  font-family: monospace;
  line-height: 2;
  letter-spacing: 3px;
  text-decoration: none;
}

.main-title-link:hover,
.main-title-link:active {
  color: #65a30d;
  font-size: 16px;
}
